@tailwind base;
@tailwind components;
@tailwind utilities;

@layer component {
	.flipper-inner {
		position: relative;
		width: 100%;
		height: 100%;
		transition: transform 0.8s;
		transform-style: preserve-3d;
	}
	
	.flipper.flip .flipper-inner {
		transform: rotateX(180deg);
	}
	
	.flipper-front, .flipper-back {
		position: absolute;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	}
	
	
	.flipper-back {
		transform: rotateX(180deg);
	}
}
